
    <div class="form-row">
      <label>TextBox</label>
    </div>
    <div class="form-row">
      <label>KeyName</label>
      <input  [type]="textbox" [(ngModel)]="element.key" style="padding: 7px;margin: 7px">
    </div>
    <div class="form-row">
      <label>Description</label>
      <input  [type]="textbox" [(ngModel)]="element.label" style="padding: 7px;margin: 7px">
    </div>

    <table border="1" style="width:50%;margin: 7px">
        <tr><!--options.elements.find(x => x.key == column).label-->         
            <th >Value</th>
            <th >Text</th>
        </tr>
        <tr *ngFor="let option of element.options">
          <td>
            <input  [type]="textbox" [(ngModel)]="option.key" >
          </td>
          <td>
            <input  [type]="textbox" [(ngModel)]="option.value" >
          </td>
        </tr>        
    </table>
<div>
<button type="button" (click)="addItem($event)" style="padding: 7px;margin: 7px">save</button>
</div>

