
    <div class="form-row">
      <label>TextBox</label>
    </div>
    <div class="form-row">
      <label>KeyName</label>
      <input  [type]="textbox" [(ngModel)]="element.key" style="padding: 7px;margin: 7px">
    </div>
    <div class="form-row">
      <label>Description</label>
      <input  [type]="textbox" [(ngModel)]="element.label" style="padding: 7px;margin: 7px">
    </div>
<!--
<div>
    <div class="form-row">
      <label>TextBox</label>
    </div>
    <div class="form-row">
      <label>KeyName</label>
      <input [formControlName]="question.key" [id]="123" [type]="textbox">
    </div>
    <div class="form-row">
      <label>Description</label>
      <input [formControlName]="question.key" [id]="1231" [type]="textbox">
    </div>

</div>
-->